Box sizing border-box for all elements *,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margins and paddings */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* Remove list styles */
ol,
ul {
  list-style: none;
}

/* Remove hyperlinks text decoration */
a {
  text-decoration: none;
}

/* Remove default button styles */
button {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: none;
}

/* Remove default input styles */
input {
  border: none;
  outline: none;
  font: inherit;
}

/* Remove default textarea styles */
textarea {
  border: none;
  outline: none;
  font: inherit;
}

/* Reset form elements */
input[type="checkbox"],
input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* Remove default table spacing */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* custom style */

* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: aliceblue;
}

.container {
  max-width: 100%;
  padding: 0 2rem;
}

.flex {
  display: flex;
}

.item-center {
  align-items: center;
}

.wrap {
  flex-wrap: wrap;
}

.justify-center {
  justify-content: center;
}

.flex28 {
  flex: 0 1 28%;
}

.full-width {
  width: 100%;
}

.text-center {
  text-align: center;
}

h1 {
  background-color: #4174d5;
  padding: 2rem 0;
  font-size: 2.5rem;
  word-spacing: 0.5rem;
  color: white;
  margin-bottom: 1rem;
}

li {
  background-color: rgb(255, 255, 255);
  box-shadow: 1px 1px 6px rgba(193, 220, 231, 0.2);
  margin: 1rem;
  border-radius: 0.4rem;
}
